New Name 1 <newemail1@github.com> Old Name 1 <oldname1@github.com>
New Name 1 <newemail1@github.com> Old Name 2 <oldname2@github.com>
New Name 1 <newemail1@github.com> Old Name 3 <oldname3@github.com>
New Name 1 <newemail1@github.com> Old Name 4 <oldname4@github.com>
New Name 2 <newemail1@github.com> Old Name 5 <oldname5@github.com>
New Name 2 <newemail1@github.com> Old Name 6 <oldname5@github.com>
New Name 2 <newemail1@github.com> Old Name 7 <oldname5@github.com>
